In [10]:
import csv
import pandas as pd
import string

In [478]:
df = pd.read_csv("metadata4a.csv")
df
# with open('metadata4a.csv', 'w') as ma:
#     with open('metadata4.csv') as m:
#         for line in m.readlines():
#             write = csv.writer(ma, dialect='excel')
#             write.writerow(line.split(','))

,NUMBER,NAME,GENDER,AGE,HOMETOWN,HOMESTATE,CURRENT STATE,EDUCATION,YEARS OF EDUCATION,OCUPATION,ETHNICITY
0,158,RICHARD,M,32,East Los Angeles,CA,CA,High School,12,Car salesman,Chicano
1,159,FRED,M,?,East Los Angeles,CA,CA,?,?,Factory worker,Chicano
2,160,LEA,F,55,Fresno,CA,CA,3 yrs college,15,Homemaker,White
3,161,TIM,M,60,Akron,OH,CA,3.5 yrs college,15,Administrative job,White
4,162,JUDY,F,28,Fresno,CA,CA,B.A.,19,Grad student,White
5,163,DAN,M,32,New Zealand,NaN,CA,High school,12,Restaurant manager,White
6,164,JOHN,M,53,Boston,MA,MA,High school,12,Computer operations,White
7,165,ANNETTE,F,44,Boston,MA,MA,M.A.,?,Personnel recruiter,White
8,166,DAN,m,36,Boston,MA,MA,M.A.,?,Student,White
9,167,LUCY,F,47,Boston,MA,MA,?,?,Secretary/Graphic artist,White
10,168,AL,M,44,Boston,MA,MA,B.S.,?,Actuarial services,White
11,169,LINDA,F,42,Boston,MA,MA,M.A.,?,ESL teacher,White
12,170,ALLEN,M,76,Boston,MA,MA,10th grade,10,Retired printer,White
13,171,DAVE,M,15,Boston,MA,MA,?,?,High-school student,White
14,172,JANE,F,11,Boston,MA,MA,?,?,Grade-school student,White
15,173,GLEN,M,15,Boston,MA,MA,?,?,High-school student,White
16,174,DANA,F,20,Newton,MA,MA,Junior in college,14,Student,White
17,175,KELLY,F,20,?,?,VT,Junior in college,14,Student,White
18,176,NANCY,F,21,New England,VT,VT,Senior in college,15,Student,White
19,177,ARIANNA,F,21,New England,VT,VT,Senior in college,15,Student,White
20,178,FRAN,F,50,New Orleans,LA,NY,B.A.,16,Artist/Retired accountant,White
21,179,ALICE,F,47,Philadelphia,PA,CA,JD.,?,Attorney,White
22,180,SEAN,M,49,Denver,CO,CA,B.A.,12,Artist/Painter,White
23,181,BERNARD,M,51,San Gabriel Valley,CA,CA,B.A.,16,Gardener/artist,White
24,182,ANDREW,M,47,San Antonio,TX,NM,M.A.,18,Data management,White
25,183,CINDY,F,47,Northwest,MT,NM,College,13,Homemaker,White
26,184,BRENDA,F,45,San Antonio,TX,TX,College,12,Housewife,White
27,185,DARLENE,F,44,San Antonio,TX,TX,High school,12,Retail,White
28,186,JUDGE,M,53,St. Louis,MO,CA,Jd.,21,Attorney,White
29,187,BAILIFF,M,?,?,?,CA,?,?,Bailiff,?
30,188,ROSE,F,?,?,CA,?,?,?,?,?
31,189,MITCHELL,M,33,Santa Barbara,CA,CA,High school,12,Contractor,White
32,190,MATTHEW,M,49,Orange County,CA,CA,High school,13,Contractor,White
33,191,KAREN,F,38,Lebanon,OR,CA,B.S.,16,Secretary,White
34,192,MARK,M,?,?,?,CA,?,?,?,?
35,193,CYNTHIA,F,47,Chicago,IL,IL,Ms.Ed.,18,Storyteller/teacher/writer,White
36,194,WOOD,F,101,New York,NY,CA,High school/Hon.Doc.,?,Artist,White
37,195,PERROT,M,67,French,NaN,CA,Post-graduate,17,Art museum director,White
38,196,GARY,M,41,?,VA/CA,CO,M.S.,19,Military officer,White
39,197,MATT,M,42,Falls Church/Albuquerque,VA/NM,CA,Ph.D.,24,Professor,White
40,198,JULIE,F,?,?,?,CO,?,?,?,?
41,199,KAREN,F,?,?,?,CO,?,?,?,?
42,200,JACKIE,F,?,?,?,CO,?,?,?,?
43,201,DEB,F,?,?,?,CO,?,?,?,?
44,202,NICK,M,37,Shreveport,LA,LA,Some college,?,Plumber/Judo instructor,White
45,203,BILL,M,22,Shreveport,LA,LA,Some college,?,Waiter,White
46,156,DARREN,M,24,Shreveport,LA,LA,B.A.,16,Student/Waiter,White
47,204,JED,M,37,Shreveport,LA,LA,Ph.D.,?,Psychologist,?
48,205,MARTIN,M,37,Southern,FL,LA,B.A.,16,Aircraft mechanic/photographer,White
49,206,BENTON,M,23,Shreveport,LA,LA,B.A.,?,Nurse,White
50,207,SHERI,F,37,Palo Alto,CA,ID,Some college,?,Mother/Student,White
51,208,STEVEN,M,11,Boise,ID,ID,Grade school,?,Student,White
52,209,FRED,M,32,Detroit,MI,WI,B.A.,16,Interior decorator,White
53,151,CAM,M,30,Beloit,WI,WI,B.A./B.S.,16,Network Administrator,White
54,210,JO,F,65,Beloit,WI,WI,High school,12,Rural carrier,White
55,211,WESS,M,71,Beloit,WI,WI,High school,12,Rural carrier,White
56,212,JON,M,72,Shreveport,LA,LA,B.A.,?,Business owner,White
57,213,ALAN,M,66,Shreveport,LA,LA,BA/BS/College,?,Investments,White

In [485]:
def cleanFile():
    with open('SBC060.txt') as f:
        data = f.readlines()
    with open('dialects060.csv', 'w') as r:
        oldName = cleanLine(data[0])[0] # must be the starting pt of dialouge
        newName = cleanLine(data[0])[0] # must be the starting pt of dialouge
        fix = []
        for line in data:
            sentence = ""
            no_punc = cleanLine(line)
#             print("Next line info: ")
#             print(no_punc)
            if len(no_punc) == 0: continue # ignore empty lists
#             if 'AUD' in no_punc[0]: continue
#             if 'MANY' in no_punc[0]: continue
            if no_punc[0] in list(df['NAME']) and newName != no_punc[0]:
#                 print('Changing names...')
                oldName = newName
                newName = no_punc[0]
#                 print("Current name: " + oldName)
#                 print("New name: " + newName)
           
            # put the words in the list together as a sentence
            for elm in no_punc:
                sentence += elm + " "
            
            # see a new name? write to csv BEFORE appending to 'fix'
            if no_punc[0] in list(df['NAME']) and oldName != newName: # check for name change
#                 print("Writing this line to CSV: ")
#                 print(fix)
                # find geographic location
#                 if fix[0][0:len(oldName)] == 'ALAN':
#                     state = 'LA'
#                 elif fix[0][0:len(oldName)] == 'JON':
#                     state = 'LA'
#                 elif fix[0][0:len(oldName)] == 'WEST':
#                     state = 'WI'
#                 elif fix[0][0:len(oldName)] == 'FRED':
#                     state = 'MI'
#                 elif fix[0][0:len(oldName)] == 'BILL':
#                     state = 'LA'
#                 elif fix[0][0:len(oldName)] == 'JED':
#                     state = 'LA'
#                 elif fix[0][0:len(oldName)] == 'X':
#                     state = 'NA'
#                 elif fix[0][0:len(oldName)] == 'MARK':
#                     state = 'NA'
#                 elif fix[0][0:len(oldName)] == 'GLEN':
#                     state = 'MA'
#                 elif fix[0][0:len(oldName)] == 'JANE':
#                     state = 'MA'
#                 elif fix[0][0:len(oldName)] == 'DAVE':
#                     state = 'MA'
#                 elif fix[0][0:len(oldName)] == 'ALICE':
#                     state = 'NA'
                fix = [fix[0][0:len(oldName)], state, fix[0][len(oldName)+1:len(fix[0])-1]] # remove extra space at end
                write = csv.writer(r, dialect='excel')
                write.writerow(fix)
                fix = []
#                 print("Added!")
            
            if len(fix) == 0: fix.append(sentence)
            else: fix[0] += sentence
#             print("Revised dialogue: ")
#             print(fix)
#             print('\n')

def formatWord(w):
    newWord = ""
    for i in w:
        if i.isnumeric() or i in ["=", "[", "]", "~", "(", ")"]: continue # add more edge cases as needed
        else: newWord += i
    return newWord

def cleanLine(line):
    no_punc = [word.strip(string.punctuation) for word in line.split()] # strips punctuation & separates everything
    no_punc = no_punc[2:] # remove first two numbers in every line
    no_punc = [x for x in no_punc if x] # removes empty strings
    no_punc = [formatWord(x) if x.isalpha() == False else x for x in no_punc] # removes weird punctuation
    return no_punc

In [486]:
cleanFile()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 123: invalid start byte

In [152]:
with open('SBC001.txt') as f:
    data = f.readlines()
    print(data[0])
    print(cleanLine(data[0]))

0.00 9.21	LENORE: 	... So you don't need to go ... borrow equipment from anybody,

['LENORE', 'So', 'you', "don't", 'need', 'to', 'go', 'borrow', 'equipment', 'from', 'anybody']